.example-spacer {
    flex: 1 1 auto;
}

.example-container {      /*     to modify     */
    position: absolute;
    top: 8vh;
    bottom: 8vh;
    left: 0;
    width: 100%;
}

.header-title {
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: bold;
    color: white;
  }

.centered-toolbar {
  display: flex;
  align-items: center;
  height: 5vh;
}
  
.example-sidenav-content {
    height: 50%;
}

.example-sidenav {
    background-color: gray;
    padding: 20px;
    
}

button {
    transition: transform 0.2s ease, background-color 0.3s ease; 
    border-radius: 50%; 
}

button:hover {
    transform: scale(1.1); 
    background-color: rgba(143, 201, 248, 0.288); 
}

button:active {
    transform: scale(0.95); 
    background-color: rgba(143, 201, 248, 0.483); 
}