.request-list {
    list-style: none;
    padding: 0.5;
    margin-top: 2px;
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(2, 73, 160);
    color: white;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    border-radius: 11px 11px 0 0;
    margin-left: -6px;
    margin-top: -6px;
    margin-right: -6px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.441);
}

.card-header h3 {
    margin: 0;
}

.request-id {
    flex: 1;
    text-align: left;
}

.request-form {
    flex: 1;
    text-align: center;
}

.request-status {
    flex: 1;
    text-align: right;
}

.request-id,
.request-form,
.request-status {
    margin-right: 20px;
}

.no-requests {
    text-align: center;
    font-size: 16px;
    color: #888;
    margin-top: 20px;
}

.form-container {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.card {
    margin: 30px auto;
    margin-left: 57px;
    margin-right: -20px;
    width: 250%;
    padding: 5px;
    border-radius: 10px;
    background-color: #f8f9fa;
    border-color: rgb(2, 73, 160);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.187), 0 6px 20px 0 rgba(0, 0, 0, 0.466);
}

