::ng-deep :root {
  --uaic-blue: rgb(21, 96, 189);
  --uaic-deep-blue: rgb(0, 48, 112);
  --uaic-gray: #ccc;
  --uaic-light-gray: #dbdbdb;
}

.app-container {
    display: grid;

    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr; 
    grid-template-areas:
      "header header"
      "mainwindow mainwindow"
      "footer footer";
    height: 100vh; /* Full height of the viewport */
    width: 100vw;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.header {
  grid-area: header;
  color: white;
  padding: 5px;
  background-color: rgb(21,96,189);
  background: linear-gradient(90deg, rgb(21, 96, 189), rgb(0, 48, 112), rgb(21, 96, 189));
  background-size: 200% 200%;
  animation: gradientAnimation 10s ease infinite;
}

.navbar {
  background-color: #F4F6F8;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.5s ease-out;
  padding: 0;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.dashboard-NavBarVisible {
    background-color: rgb(245, 245, 245);
    color: white;
    width: 80%;
    height: 100%; /* Fixează înălțimea la containerul părinte */
    overflow: auto; /* Permite scroll doar dacă este necesar */
    position: relative; /* Asigură contextul de poziționare */
}

.dashboard-NavBarNotVisible {
    background-color: rgb(245, 245, 245);
    color: white;
    width: 100%;
    height: 100%; /* Fixează înălțimea la containerul părinte */
    overflow: auto; /* Permite scroll doar dacă este necesar */
    position: relative; /* Asigură contextul de poziționare */
}

.footer {
  grid-area: footer;
  color: white;
  padding: 5px;
  background-color: rgb(21,96,189);
  background: linear-gradient(90deg, rgb(21, 96, 189), rgb(0, 48, 112), rgb(21, 96, 189));
  background-size: 200% 200%;
  animation: gradientAnimation 10s ease infinite;
}

.navbar {
    width: 20%;
    display: flex;
    align-items: center;
    height: 100%;
}

.main-window {
    grid-area: mainwindow;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    box-sizing: border-box;
    background-color: #F4F6F8;
}

.app-nav {
    height: 100%;
    width: 100%;
    background-color: #F4F6F8;
}

.app-dashboard {
    height: 100%;
    width: 100%;
}