<div class="col-md-12 form">
  <div class="card card-container">
    <div class="title">Add Student</div>
      <form
        name="form"
        (ngSubmit)="form.form.valid && onSubmit()"
        #form="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            [(ngModel)]="formData.email"
            required
            email
            #email="ngModel"
            [ngClass]="{ 'is-invalid': form.submitted && email.errors }"
          />
          @if (email.errors && form.submitted) {
            <br>
            <div class="invalid-feedback">
              @if (email.errors['required']) {
                <div>Email is required</div>
              }
              @if (email.errors['email']) {
                <div>Email must be a valid email address</div>
              }
            </div>
          }
        </div>
        <br>
        <div class="form-group">
          <label for="registrationNumber">Registration Number</label>
          <input
            type="text"
            class="form-control"
            id="registrationNumber"
            name="registrationNumber"
            [(ngModel)]="formData.registrationNumber"
            required
            minlength="6"
            #registrationNumber="ngModel"
            [ngClass]="{ 'is-invalid': form.submitted && registrationNumber.errors }"
          />
          @if (registrationNumber.errors && form.submitted) {
            <br>
            <div class="invalid-feedback">
              @if (registrationNumber.errors['required']) {
                <div>Registration Number is required</div>
              }
              @if (registrationNumber.errors['minlength']) {
                <div>Registration Number must be at least 6 characters</div>
              }
            </div>
          }
        </div>
        <br>
        <div class="form-group">
          <button class="btn btn-primary btn-block">Add</button>
        </div>

        @if (form.submitted && !isSuccessful) {
          <br>
          <div class="alert alert-warning">
            Add Failed!<br />{{ errorMessage }}
          </div>
        }
        @if (isSuccessful) {
          <br>
          <div class="alert alert-success">Added successfully</div>
        }
      </form>
  </div>
</div>

