.container {
    margin-top: 20px;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-color: #007bff;
  }
  
  .card-header {
    background-color: rgb(21,96,189);
    color: white;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
  }
  
  .card-body {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .is-invalid {
    border-color: red;
  }
  
  .invalid-feedback {
    color: red;
    font-size: 14px;
  }
  
  .request-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .request-item {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-color: #007bff;
  }
  
  .request-details {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
  
  .btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
  
  .btn-primary {
    background-color: rgb(26, 113, 219);
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: rgb(21,96,189);
  }
  
  .btn-secondary {
    background-color:  rgb(26, 113, 219);
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .btn-secondary:hover {
    background-color:   rgb(21,96,189);
  }
  
  .btn:disabled {
    background-color: #3f3b3be1;
    cursor: not-allowed;
  }
  
  .form-group {
    position: relative;
  }
  
  .form-group label {
    position: absolute;
    top: 12px;
    left: 10px;
    background: white;
    padding: 0 5px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.39);
  }

  .custom-select:hover {
    border-color: #007bff; 
    outline: none;
    transition: border-color 0.3s ease-in-out;
  }