<div class="title">Complete your request</div>
<div *ngIf="imageUrl" class="image-container">
  <img [src]="imageUrl" alt="Form Image" />
    <input *ngFor="let formField of formFields; let i = index" 
      type="text" 
      [placeholder]="'Enter value'" 
      [style.position]="'absolute'"
      [style.top]="formField.top"
      [style.left]="formField.left"
      [style.width]="formField.width"
      [style.height]="formField.height"
      [(ngModel)]="formFields[i].value"
      name="field{{i}}"
    />
</div>
<div *ngIf="warningMessage" class="warning-message">
  {{ warningMessage }}
</div>
<div class="submit_button_container">
  <button 
    (click)="saveFormFields()" 
    [disabled]="isLoading"
    style="position:relative; margin-top: 20px;">
    <span>Submit Request</span>
  </button>
</div>
<div *ngIf="isLoading" class="loading-spinner">
  <p>Loading...</p>
</div>