<div class="title">Complete your request</div>

<div *ngIf="profileSuggestion" class="profile-warning">
  {{ profileSuggestion }}
  <button class="dismiss-btn" (click)="dismissSuggestion()">X</button>
</div>

<div *ngFor="let page of pages; let pageIndex = index" class="image-container" style="position: relative;">
  <img [src]="page.imageUrl" alt="Form Page" />

  <input *ngFor="let field of page.inputFields; let fieldIndex = index"
         type="text"
         [placeholder]="'Enter value'"
         [style.position]="'absolute'"
         [style.top]="field.top"
         [style.left]="field.left"
         [style.width]="field.width"
         [style.height]="field.height"
         [(ngModel)]="field.value"
         name="'field' + getGlobalIndex(pageIndex, fieldIndex)" 
         (blur)="fieldTouched[getGlobalIndex(pageIndex, fieldIndex)] = true"
    [ngClass]="{
      'valid-field': fieldTouched[getGlobalIndex(pageIndex, fieldIndex)] && isFieldValid(field, getGlobalIndex(pageIndex, fieldIndex)),
      'invalid-field': fieldTouched[getGlobalIndex(pageIndex, fieldIndex)] && !isFieldValid(field, getGlobalIndex(pageIndex, fieldIndex))
    }"
    />
</div>

<div *ngIf="warningMessage" class="warning-message">
  {{ warningMessage }}
</div>

<div class="submit_button_container">
  <div *ngIf="isLoading" class="loading-spinner">
    <div class="spinner"></div>
    <p>Loading...</p>
  </div>

  <div *ngIf="warningMessage" class="warning-message">
    {{ warningMessage }}
  </div>

  <div *ngIf="!warningMessage && validationErrors.length > 0" class="warning-message">
    <ul style="list-style-type: none; padding: 0; margin: 0;">
      <li *ngFor="let error of validationErrors">{{ error }}</li>
    </ul>
  </div>

  <button 
    (click)="saveFormFields()" 
    [disabled]="isLoading"
    style="position:relative; margin-top: 20px;">
    <span>Submit Request</span>
  </button>
</div>
