.container {
  display: flex;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: none;
  max-height: 700px;
}

.card {
  width: 100%;
  max-width: 1500px;
  min-width: 1000px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid #007bff;
  overflow: hidden;
}

.card-body{
  height: 600px;
  overflow-x: auto;
  scrollbar-color: #2D82B7 #FFFFFF;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}


.items{
  display: flex;
  align-items: center;
  gap: 20px;
}

.buttons{
  display: flex;
  justify-content: space-evenly;
}

.close{
  background-color: #FE5F55;
}
.respond{
  background-color: #F4B942;
}
.done{
  background-color: #62c370;
}
.review{
  background-color: #4A4A48;
}
.button {
  border: none;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.card-header {
  background-color: rgb(21, 96, 189);
  color: white;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}

.ticket-item {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.ticket-details {
  margin-top: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
