<div class="col-md-12">
  <div class="card card-container">
    <h2 class="text-center mb-4">Forgot Password</h2>
    @if (!isSubmitted) {
    <form
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
        />
        @if (email.errors && f.submitted) {
        <div class="invalid-feedback">
          @if (email.errors['required']) {
            <div>Email is required</div>
          }
          @if (email.errors['email']) {
            <div>Email format is invalid</div>
          }
        </div>
        }
      </div>
      <div class="form-group mt-3">
        <button class="btn btn-primary btn-block">Send Reset Link</button>
      </div>
      <div class="form-group mt-3">
        <button type="button" class="btn btn-link" (click)="returnToLogin()">Return to Login</button>
      </div>
      <div class="form-group">
        @if (f.submitted && isSubmitFailed) {
        <div class="alert alert-danger mt-3" role="alert">
          {{ errorMessage }}
        </div>
        }
      </div>
    </form>
    } @else {
    <div class="alert alert-success">
      {{ successMessage }}
    </div>
    <div class="text-center mt-3">
      <button class="btn btn-primary" (click)="returnToLogin()">Return to Login</button>
    </div>
    }
  </div>
</div>