.footer-logo{
    width: 3vw;
    height: auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}